repos:
  - repo: https://github.com/psf/black # Maintained by tool authors
    rev: 24.10.0 # Reproducible formatting across machines
    hooks:
      - id: black
        language_version: python3.9
  - repo: https://github.com/pycqa/isort # Maintained by tool authors
    rev: 5.13.2 # Reproducible formatting across machines
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.13.0
    hooks:
      - id: detect-secrets
